extends layout

block content
  h1 Register
  p !{message}
  mixin errorField(field)
    #errorFields
      if errorFields
        each val, index in errorFields
          if index === field
            span(class='error')= val
  form(method='POST' action='/register')
    input(type='text', name='name', placeholder='Name', value=name)
    +errorField('name')
    br
    input(type='text', name='email', placeholder='Email', value=email)
    +errorField('email')
    br
    input(type='password', name='password', placeholder='Password')
    +errorField('password')
    br
    input(type='password', name='password_conf', placeholder='Confirm Password')
    +errorField('password_conf')
    br
    button(type='submit') Submit
  